<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center"><h1>{{title}}</h1></div>



<div class="container">
  <app-tabs></app-tabs>

</div>






































































<!--<br>-->

<!--<hr>-->
<!--app-user component :-->
<!--<app-user [name]="rootName"  (nameChanged)="OnNameChanged($event)" ></app-user>-->

<!--<hr>-->

<!--&lt;!&ndash;<p>&ndash;&gt;-->
<!--&lt;!&ndash;{{number}}&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<button (click)="onIncrease()" class="btn btn-primary">increase number biiich</button>&ndash;&gt;-->


<!--<hr>-->
<!--cart now biich-->
<!--<hr>-->
<!--<app-cart [items]="rootItems" (itemAdded)="onItemWasAdded($event)"></app-cart>-->

