<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <p>Welcome to our App</p>

</div>



<br>

<hr>
app-user component :
<app-user [name]="rootName"  (nameChanged)="OnNameChanged($event)" ></app-user>

<hr>

<!--<p>-->
<!--{{number}}-->
<!--</p>-->
<!--<button (click)="onIncrease()" class="btn btn-primary">increase number biiich</button>-->


<hr>
cart now biich
<hr>
<app-cart [items]="rootItems" (itemAdded)="onItemWasAdded($event)"></app-cart>

